<div class="leaderboard-container animate__animated animate__fadeIn">
  <h2 class="title">🏆 Broker Leaderboard</h2>

  <div class="leaderboard">
    <div
      *ngFor="let broker of brokers; let i = index"
      class="card animate__animated animate__fadeInUp"
      [style.animationDelay]="(i * 0.15) + 's'"
    >
      <div class="rank">#{{ i + 1 }}</div>
      <img [src]="broker.avatar" alt="Avatar" class="avatar" />
      <div class="info">
        <h3 class="name">{{ broker.name }}</h3>
        <p class="meta">Quotes: {{ broker.quotes }} | Policies: {{ broker.policies }}</p>
      </div>
      <div class="score">
        <span>{{ broker.score }}</span>
      </div>
    </div>
  </div>
</div>
